h3 {
    margin-top: 8px;
    margin-bottom: 24px;
}

.alert {
    padding: 8px;
    margin: 0 0 16px 0;
}

.nav > button {
    margin: 8px 8px 0 0;
}

.navbar {
    background-image: url('/img/furley_bg.png');
    background-repeat: repeat-x;
    border-radius: 0;
    box-shadow: 2px 2px 4px #C0C0C0;
}

.click {
    cursor: pointer;
}
